*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald ExtraLight';
    list-style: none;
    text-decoration: none;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #303030;
}
nav{
    width: 85%;
    height: 15vh;
}
nav ul{
    width: 100%;
    text-transform: uppercase;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto auto;
    padding-top: 2vh;
    margin-left: 3vh;
}
#lancamento {
    border-bottom: 2px solid #021ebb;
}
nav ul a{
    color: #ffffff;
    font-size: 0.9em;
    text-align: center;
}
nav ul img {
    height: 10vh;
}
#lanca {
    display: flex;
    width: 90%;
}
form{
    height: 10vh;
    text-align: center;
}
input{
    background-color: #303030;
    border: none;
    border-bottom: 2px solid #021ebb;
    width: 50%;
    height: 6vh;
}
button{
    background-color: #021ebb;
    border: none;
    border-radius: 15px;
    width: 10%;
    height: 4vh;
    margin-left: 5vh;
}
#infos{
    background-color: #afafaf;
    width: 75%;
    height: 53vh;
    margin: auto;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}
div ul li {
    padding-top: 2vh;
    padding-left: 5vh;
}
div button{
    margin-top: 3vh;
    width: 20vh;
}
div img {
    height: 40vh;
    padding-top: 10vh;
}